language: erlang
otp_release:
  - 17.0
  - 17.1
  - R16B03
  - R16B02
  - R16B01
  - R16B
  - R15B03
  - R15B02
  - R15B01
  - R15B
before_install:
  - sudo pip install -q httpbin
  - sudo pip install -q gunicorn
before_script: gunicorn httpbin:app&
