%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{erl_opts, [
  debug_info,
  {platform_define, "R14", no_callback_support},
  {platform_define, "^[0-9]+", namespaced_types}
]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.

{post_hooks, [{clean, "rm -rf *~ */*~ */*.xfm test/*.beam"}]}.

{deps, [
       {idna, ".*",
        {git, "https://github.com/benoitc/erlang-idna",
         {tag, "1.0.2"}}},

       {ssl_verify_hostname, ".*",
        {git, "https://github.com/deadtrickster/ssl_verify_hostname.erl",
         {tag, "1.0.5"}}}
]}.

%% Not yet supported in rebar3
%% {require_otp_vsn, "R14|R15|R16|17|18"}.

{profiles, [{dev,
             [{deps, [
                      {edown,
                       {git, "https://github.com/uwiger/edown.git",
                        {tag, "0.7"}}}
             ]},

              {edoc_opts, [{doclet, edown_doclet},
                           {source_path, ["src/hackney_connect",
                                          "src/hackney_lib",
                                          "src/hackney_client",
                                          "src/hackney_app"]},
                           {packages, false},
                           {subpackages, true},
                           {top_level_readme,
                            {"./README.md", "http://github.com/benoitc/hackney"}}]}
             ]}]}.
