%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.

{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam"]}.

{deps, [
    {mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes.git", 
                      "master"}},
    {edown, ".*",
        {git, "git://github.com/esl/edown.git", "HEAD"}}
]}.


{edoc_opts, [{doclet, edown_doclet},
             {top_level_readme,
              {"./README.md", "http://github.com/benoitc/hackney"}}]}.
