%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%%{erl_first_files, ["hackney_pool_handler"]}.
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.

{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam"]}.

{deps, [
        {idna, ".*",
         {git, "git://github.com/benoitc/erlang-idna.git",
          {tag, "1.0.1"}}}
]}.

{require_otp_vsn, "R15|R16|17"}.
