---
name: build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  ci:
    name: Run checks and tests over ${{matrix.otp_vsn}} and ${{matrix.os}}
    runs-on: ${{matrix.os}}
    container:
      image: erlang:${{matrix.otp_vsn}}
    strategy:
      matrix:
        otp_vsn: ["23.0.2", "23.2"]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - run: |
          apt-get -q update
          apt-get -y install python3
          apt-get -y install python3-pip
          pip3 install httpbin
          pip3 install gunicorn
          gunicorn -b 127.0.0.1:8000 -b unix:httpbin.sock httpbin:app&
      - run: ./support/rebar3 xref
      - run: ./support/rebar3 eunit
      - run: ./support/rebar3 dialyzer
